
/* --- تنسيق زر التثبيت المنبثق --- */
.install-prompt-button {
    background-color: #3498db; /* لون مختلف لتمييزه */
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
    /* تأكد من أن التنسيق يتناسب مع الأزرار الأخرى */
}

.install-prompt-button:hover {
    background-color: #2980b9;
}
